USE [MRMaintenance]
GO
/****** Object:  Table [dbo].[Count]    Script Date: 7/24/2014 3:23:55 PM ******/
DROP TABLE [dbo].[Count]
GO
/****** Object:  Table [dbo].[Count]    Script Date: 7/24/2014 3:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Count](
	[countId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Count] PRIMARY KEY CLUSTERED 
(
	[countId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[Count] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Count] ON 

INSERT [dbo].[Count] ([countId]) VALUES (1)
INSERT [dbo].[Count] ([countId]) VALUES (2)
INSERT [dbo].[Count] ([countId]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Count] OFF
